* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: #1f2729;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.App {
  max-width: 1220px;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #2ec08c;
}

input,
p {
  background: #1f2729;
  color: #e1e1e6;
  width: 10rem;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 5rem auto;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

button {
  background: #eba417;
  color: #1f2729;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
